<?xml version="1.0"?>
<package>
  <metadata>
    <id>{{-id}}</id>
    <version>{{-version}}</version>
    <title>{{-title}}</title>
    <authors>{{-author}}</authors>
    <owners>{{-author}}</owners>
    <licenseUrl>{{-licenseUrl}}</licenseUrl>
    <projectUrl>{{-projectUrl}}</projectUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <description>{{-description}}</description>
    <copyright>{{-copyright}}</copyright>
    <tags>{{-tags}}</tags>
    <dependencies>
      <dependency id="UmbracoCms.Core" version="7.5.8" />
    </dependencies>
  </metadata>
  <files>
    <file src="Web\UI\App_Plugins\*.*" target="content" />
  </files>
</package>