<div ng-controller="Our.Umbraco.ImageCropPicker.CropPickerController as vm">
    <!-- DEBUG: Uncomment below line to preview model data -->
    <!-- <pre>{{vm | json}}</pre> -->
    <!-- <hr /> -->
    <!-- <pre>{{vm.data.cropsData | json}}</pre> -->
    <!-- /DEBUG -->
    <select id="cropPickerSelect" name="cropPickerSelect"
            ng-model="model.value"
            ng-options="crop as (crop.alias + ' [' + crop.width + 'px × ' + crop.height + 'px]') for crop in vm.data.cropsData track by crop.alias">
    </select>
</div>